body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #000;
  color: #fff;
  overflow-x: hidden;
}

.container {
  max-width: 900px;
  margin: 120px auto;
  padding: 20px;
}

h2 {
  color: #00ffff;
  text-align: center;
  margin-bottom: 25px;
}

.btn {
  background-color: #00ffff;
  color: #000;
  border: none;
  padding: 12px 25px;
  border-radius: 25px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn:hover {
  background-color: #fff;
  color: #000;
}
